<!-- fxLayout="column" means contents will be layed out vertically -->
<!-- fxLayout="row" means contents will be layed out horizontally -->
<!-- fxLayoutGap="10px" means "Gutter" or Contents included will be seperated by each other by 10px -->
<!-- fxFlex: this whole block will be one piece of content -->
<!-- *ngFor="let dish of dishes" .. is a structural directive which allows us to iterate over an array of items,like a for loop -->
<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes">
        <img height="200px" src="{{dish.image}}" alt="{{dish.name}}">
        <mat-grid-tile-footer>
          <h1 matLine>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="selectedDish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedDish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
      <mat-card-content>
        <p>{{selectedDish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
